 .NavBar {
  background-color: #27603C; 
  height: 100px;
}

.cornerlogo{
  height: 100px;
  width: 200px;
  float: left;
}
 
.selection{
    color: white;
    float: right;
    text-align: right;
   font-size: 18px;
   font-weight: 700;
}

.glyphicon-log-in {
    color: black;
    padding-right: 6px;
}

.glyphicon-user {
    color: black;
    padding-right: 6px;
}

.glyphicon-home{
    color: black;
    padding-right: 6px;
}

.welcome {
    text-align: center;
    font-size: 26px;
}

.recaps {
    text-align: center;
    font-size: 26px;
    padding-top: 80px;
}

.welcomelogo{
height: 200px;
width: 400px;
display: block;
margin-left: auto;
margin-right: auto;
}


.sign-login{
color: black;
float: right;
}

footer{
    padding: 20px;
    background-color: #27603C; 
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}

.AWTY{
    font-size: 42px;
    float: left;
    color: black;
}

.login{
    text-align: center;
}

.signup{
    text-align: center;
}

.questionName{
text-align: center;
}

h3 {
text-align: center;
}

p{
    font-size: 24px;
    text-align: center;
}

.btn-group{
text-align: center;
padding-bottom: 40px;
}

.topic-list{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.prompt-response{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}