.navbar-header {
    background-color: #27603C;
}

.welcome {
    text-align: center;
    font-size: 26px;
}

.recaps {
    text-align: center;
    font-size: 26px;
    padding-top: 80px;
}

.welcomelogo{
height: 350px;
width: 600px;
}

.glyphicon-user{
    color: black;
}

.glyphicon-log-in {
    color: black;
}

.sign-login{
color: black;
}

footer{
    padding: 20px;
    background-color: #27603C; 
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}

.AWTY{
    font-size: 42px;
    float: left;
    color: black;
}

.login{
    text-align: center;
}

.signup{
    text-align: center;
}

.TopicBig{
    text-align: center;
    font-size: 42px;
}

.Topic{
    text-align: center;
    border: black;
    border-style: solid;
}

p{
    font-size: 24px;
    text-align: center;
}

.btn-group{
text-align: center;
padding-bottom: 40px;
}